body {
  background-color: gray;
}
.card {
  height: 80vh;
  width: 80vh;
  display: grid;
  margin-left: 25%;
  margin-top: 5%;
  /* border: 2px solid lightseagreen; */
  border-radius: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* border: 2px solid red; */
}

.object {
  width: 20%;
  height: 95%;
  border: 10px;
  margin: 2px;
  cursor: pointer;
  border-radius: 5px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 15px;
}

.correct {
  .check {
    
  }
}

@-o-keyframes fadeIt {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #ad301b;
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes fadeIt {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #ad301b;
  }
  100% {
    background-color: #ffffff;
  }
}

.check {
  display: none;
}

.pulse {
  background-image: none !important;
  -o-animation: fadeIt 5s ease-in-out;
  animation: fadeIt 5s ease-in-out;
}

#clue_board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 1000px;
  border: 2px solid white;
}
#clue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  width: 1000px;
  color: white;
  font-size: 30px;
  /* border: 2px solid white; */
}
#next_clue {
  height: 30px;
  width: 100px;
  background-color: pink;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
