<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mango</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"></script>
    <!-- <script defer src="{{ url_for('static', filename='js/main.js') }}"></script> -->
    <script>
        const objects = document.getElementsByClassName("object");
        const clue_container = document.getElementById("clue");
        const next_clue = document.getElementById("next_clue");

        let object_data = {{ data| tojson }}
        console.log(object_data)
        $(document).ready(() =>
        {
            Array.from(objects).forEach((element, index) =>
            {
                Array.from(objects).forEach((element, index) =>
                {
                    element.innerText = object_data[index].object
                })
            });
        });

        function changeNoneCorrectCursor(state)
        {
            $(document).ready(() =>
            {
                Array.from(objects).forEach((element, index) =>
                {

                    if (!$(element).hasClass("correct"))
                    {
                        $(element).css({ "pointer-events": state });
                    }
                });
            });
        }

        function placeNextClue(clue)
        {
            console.log(clue);
            $(document).ready(() =>
            {
                $("#clue").text(clue);
            });
            changeNoneCorrectCursor("auto");
        }

        // $(document).ready(() => {
        // checkWinning()
        //   $("#next_clue").click((e) => {
        //     console.log("clicked");
        //     current = pairs[Math.floor(Math.random() * (25 - 0 + 1)) + 0];
        //     placeNextClue(current.clue);
        //   });
        // });

        $(document).ready(() =>
        {
            $(".object").click((e) =>
            {
                if (e.target.innerText === clue_container.innerText)
                {
                    $(e.target).addClass("correct");
                    $(e.target).css({ pointerEvents: "none" });
                } else
                {
                    $(e.target).addClass("pulse");
                }
                changeNoneCorrectCursor("none");
            });
        });

    </script>
</head>

<body>
    <div id="clue_board">
        <div id="clue">
            {{current.clue}}
            <span id="clue_hidden"></span>
        </div>
        <button id="next_clue">Next Clue</button>
    </div>
    <div class="card">
        {%for r in range(5) %}
        <div class="row" id="row{{r}}">
            <!-- {%set index = 0%} -->
            {%for c in range(5)%}
            <button class="object">button</button>
            <!-- {%set index = index+1 %} -->
            {%endfor%}
            <!-- <button class="object"></button>
            <button class="object"></button>
            <button class="object"></button>
            <button class="object"></button> -->
        </div>
        {%endfor%}
        <!-- <div class="row" id="row2">
            <button class="object"></button>
            <button class="object"></button>
            <button class="object"></button>
            <button class="object"></button>
            <button class="object"></button>
        </div>
        <div class="row" id="row3">
            <button class="object"></button>
            <button class="object"></button>
            <button class="object"></button>
            <button class="object"></button>
            <button class="object"></button>
        </div>
        <div class="row" id="row4">
            <button class="object"></button>
            <button class="object"></button>
            <button class="object"></button>
            <button class="object"></button>
            <button class="object"></button>
        </div>
        <div class="row" id="row5">
            <button class="object"></button>
            <button class="object"></button>
            <button class="object"></button>
            <button class="object"></button>
            <button class="object"></button>
        </div> -->
    </div>
</body>

</html>