<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mango</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"></script>
    <!-- <script defer src="/static/main.js"></script> -->
</head>

<body>
    <center class="waitingContainer">
        <div id="waitingMessege">You need at least 2 players to start</div>
        <label for="username" id="userLabel">Username:</label>
        <input type="text" id="username" username="username"><br><br>
        <button id="submitButton">Submit</button>
        <div> There are currently <span id="numberOfPlayers">1</span> players</div>
        <!--<button id="ready">Ready</button> -->
    </center>
    <center class="container">
        <div id="currentUser"></div>
        <div id="clue_board">
            <div id="clue">
            </div>
            <div>
                <!--Displaying timer/time left on screen below clue -->
                <p><span class="custom">Next Clue in <span id="time">00:45</span> Seconds!</span></p>
            </div>
            <!-- <button id="next_clue">Next</button> -->
        </div>
        <div class="card">
            <div class="row" id="row1">
                <button id="00" class="object"></button>
                <button id="01" class="object"></button>
                <button id="02" class="object"></button>
            </div>
            <div class="row" id="row2">
                <button id="10" class="object"></button>
                <button id="11" class="object"></button>
                <button id="12" class="object"></button>
            </div>
            <div class="row" id="row3">
                <button id="20" class="object"></button>
                <button id="21" class="object"></button>
                <button id="22" class="object"></button>
            </div>
            <!-- <div class="row" id="row4">
                <button class="object"></button>
                <button class="object"></button>
                <button class="object"></button>
            </div>
            <div class="row" id="row5">
                <button class="object"></button>
                <button class="object"></button>
                <button class="object"></button>
            </div> -->
        </div>
    </center>

    <script>
        // Global variables
        var realtimer;
        var currentUser;
        // Game objects and variables
        const objects = document.getElementsByClassName("object");
        const clue_container = document.getElementById("clue");
        const next_clue = document.getElementById("next_clue");
        const socket = io.connect("http://127.0.0.1:5000");
        var someoneHasWon = false;
        let current = null;
        let wordsPairs=[];
        let states=[
            [0,0,0],
            [0,0,0],
            [0,0,0]
        ];

        socket.emit('arrive', { data: "Hello!" })

        function changeNoneCorrectCursor(state)
        {
            $(document).ready(() =>
            {
                Array.from(objects).forEach((element) =>
                {
                    if (!$(element).hasClass("correct"))
                    {
                        $(element).css({ "pointer-events": state });
                    }
                });
            });
        }



        function checkWinning(state)
        {
            $(document).ready(() =>
            {
                var win = checkHorizontal() || checkVertical() || checkDiagonals();
                if (win == true){
                  socket.emit("Blackout", currentUser);

                }
            });
        }

        function checkHorizontal(){
            for (let i=0;i<3;i++){
                let win=true;
                for (let j=0;j<3;j++){
                    if (states[i][j]==0){
                        win =false;
                        break;
                    }
                }
                if (win){
                    return true;
                }
            }
        }
        function checkVertical(){
            for (let j=0;j<3;j++){
                let win=true;
                for (let i=0;i<3;i++){
                    if (states[i][j]==0){
                        win =false;
                        break;
                    }
                }
                if (win){
                    return true;
                }
            }
        }

        function checkDiagonals(){
          let win=false;
          if((states[0][0]==1 && states[1][1]==1 && states[2][2]==1) || (states[0][2]==1 && states[1][1]==1 && states[2][0]==1)){
            win = true;
          }
          return win;
        }

        $(document).ready(() =>
                {
                    $("#submitButton").click(()=>{
                        currentUser = document.getElementById("username").value;
                        $("#currentUser").text(currentUser)
                        $("#username").css({display: "none"})
                        $("#submitButton").css({display: "none"})
                        $("#userLabel").css({display: "none"})
                        socket.emit("playerReady", currentUser);
                    });

                    $(".object").click((e) =>
                    {
                        console.log(typeof e.target.innerText, typeof current.object)
                        if (e.target.innerText == current.object)
                        {
                            let id=e.target.id;
                            states[parseInt(id[0])][parseInt(id[1])]=1;
                            checkWinning();
                            $(e.target).addClass("correct");
                            $(e.target).css({ pointerEvents: "none" });
                        } else
                        {
                            $(e.target).addClass("pulse");
                        }
                        socket.emit('clicked');
                        changeNoneCorrectCursor("none");
                        checkBlackout("none");
                    });

                    

               });

        socket.on('newClue',(newWord)=>{
            clue_container.innerText=newWord.clue;
            changeNoneCorrectCursor("auto");
            current=newWord
            var fourtyFiveSeconds = 45,
            display = document.querySelector("#time");
            startTimer(fourtyFiveSeconds, display);
        })
        socket.on("endGame",(currentUser)=>{
            someoneHasWon = true;
          <!-- document.write(currentUser+ " has won Bingo!"); -->
           if (name)
            {
                window.location = '/player_detail?username=' + name;
            }
        })
        socket.on('newPlayer',(numberOfplayers)=>{
            $("#numberOfPlayers").text(numberOfplayers)
            if (numberOfplayers>=2){
                $("#submitButton").css({display: "block"})
            }
        })

        //creating a timer
        function startTimer(duration, display)
        {
            if(realtimer) {
                clearInterval(realtimer);
            }
            let timer = duration,
                minutes,
                seconds;
            realtimer = setInterval(function ()
            {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                // checks correct answer if the guess is made before time runs out --> will set
                //timer to 0 once guess is made + colors the board
                $(".object").click((e) =>
                {
                    if (e.target.innerText === current.object)
                    {
                        $(e.target).addClass("correct");
                        $(e.target).css({ pointerEvents: "none" });
                    } else
                    {
                        $(e.target).addClass("pulse");
                    }
                    changeNoneCorrectCursor("none");
                    timer = duration;
                    //realtimer.style.display = 'none';
                });
                //if time runs out, cycles to next clue.
                //code taken from previous next button clicked logic
                if (--timer <= 0)
                {
                    clearInterval(realtimer);
                    socket.emit("Timer Up");
                    //timer = duration

                    realtimer.style.display = 'none';
                    //realtimer.style.display = 'none';
                    //changeNoneCorrectCursor("none");
                }
            }, 1000);
            //clearInterval(realtimer);
        }


        socket.on('trasferData', (words,currentClueObject)=>{
                if (wordsPairs.length==0){
                    wordsPairs=words;
                    Array.from(objects).forEach((field, index) =>
                    {
                        object_clue=wordsPairs[index]
                        field.innerText = object_clue.object;
                    });
                    current = currentClueObject;
                    clue_container.innerText = current.clue;
                }

        })
        socket.on('startGame', () =>
            {
                $(document).ready(()=>{
                    $(".waitingContainer").css({display: "none"})
                    $(".container").css({display: "block"})
                    $("#username").css({display: "none"})
                    $("#submitButton").css({display: "none"})
                })
                var fourtyFiveSeconds = 45,
                display = document.querySelector("#time");
                startTimer(fourtyFiveSeconds, display);

            });

    </script>
</body>

</html>
