<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mango</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"></script>
    <!-- <script defer src="/static/main.js"></script> -->
</head>

<body>
    <center>
        <div id="clue_board">
            <div id="clue">
            </div>
            <div>
                <!--Displaying timer/time left on screen below clue -->
                <p><span class="custom">Next Clue in <span id="time">00:45</span> Seconds!</span></p>
            </div>
            <!-- <button id="next_clue">Next</button> -->
        </div>
        <div class="card">
            <div class="row" id="row1">
                <button class="object"></button>
                <button class="object"></button>
                <button class="object"></button>
                <button class="object"></button>
                <button class="object"></button>
            </div>
            <div class="row" id="row2">
                <button class="object"></button>
                <button class="object"></button>
                <button class="object"></button>
                <button class="object"></button>
                <button class="object"></button>
            </div>
            <div class="row" id="row3">
                <button class="object"></button>
                <button class="object"></button>
                <button class="object"></button>
                <button class="object"></button>
                <button class="object"></button>
            </div>
            <div class="row" id="row4">
                <button class="object"></button>
                <button class="object"></button>
                <button class="object"></button>
                <button class="object"></button>
                <button class="object"></button>
            </div>
            <div class="row" id="row5">
                <button class="object"></button>
                <button class="object"></button>
                <button class="object"></button>
                <button class="object"></button>
                <button class="object"></button>
            </div>
        </div>
    </center>

    <script>
        const objects = document.getElementsByClassName("object");
        const clue_container = document.getElementById("clue");
        const next_clue = document.getElementById("next_clue");
        const socket = io.connect("http://127.0.0.1:5000");

        socket.on("connect", (msg) =>
        {
            console.log("connected!");
        });
        socket.emit('arrive', { data: "Hello!" })

        socket.on('register', (msg) =>
        {
            console.log(msg)
        })

        function changeNoneCorrectCursor(state)
        {
            $(document).ready(() =>
            {
                Array.from(objects).forEach((element) =>
                {
                    if (!$(element).hasClass("correct"))
                    {
                        $(element).css({ "pointer-events": state });
                    }
                });
            });
        }

        function placeNextClue(clue)
        {
            console.log(clue);
            $(document).ready(() =>
            {
                $("#clue").text(clue);
            });
            changeNoneCorrectCursor("auto");
        }
        //creating a timer
        function startTimer(duration, display)
        {
            var timer = duration,
                minutes,
                seconds;
            setInterval(function ()
            {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                // checks correct answer if the guess is made before time runs out --> will set
                //timer to 0 once guess is made + colors the board
                $(".object").click((e) =>
                {
                    if (e.target.innerText === current.object)
                    {
                        $(e.target).addClass("correct");
                        $(e.target).css({ pointerEvents: "none" });
                    } else
                    {
                        $(e.target).addClass("pulse");
                    }
                    changeNoneCorrectCursor("none");
                    timer = 0;
                });
                //if time runs out, cycles to next clue.
                //code taken from previous next button clicked logic
                if (--timer < 0)
                {
                    timer = duration;
                    // window.location.href= 'http://www.google.com';
                    changeNoneCorrectCursor("none");
                    current = pairs[Math.floor(Math.random() * (25 - 0 + 1)) + 0];
                    placeNextClue(current.clue);
                }
            }, 1000);
        }

        window.onload = function ()
        {
            var fourtyFiveSeconds = 45,
                display = document.querySelector("#time");
            startTimer(fourtyFiveSeconds, display);
        };
         socket.on('startGame', (response) =>
            {
                pairs = [];
                current = null;
                Array.from(objects).forEach((field, index) =>
                {
                    l = response.objects.length;
                    object_clue =
                        response.objects[Math.floor(Math.random() * (l - 0 + 1)) + 0];
                    pairs[index] = { object: object_clue.object, clue: object_clue.clue };
                    field.innerText += object_clue.object;
                });
                current = pairs[0];
                clue_container.innerText = current.clue;

                $(document).ready(() =>
                {
                    // checkWinning()
                    $("#next_clue").click((e) =>
                    {
                        console.log("clicked");
                        current = pairs[Math.floor(Math.random() * (25 - 0 + 1)) + 0];
                        placeNextClue(current.clue);
                    });
                });

                $(document).ready(() =>
                {
                    $(".object").click((e) =>
                    {
                        if (e.target.innerText === current.object)
                        {
                            $(e.target).addClass("correct");
                            $(e.target).css({ pointerEvents: "none" });
                        } else
                        {
                            $(e.target).addClass("pulse");
                        }
                        changeNoneCorrectCursor("none");
                    });
                });
            })
        fetch("http://127.0.0.1:5000/category/words")
            .then(function (response)
            {
                return response.json();
            })
            .then((response) =>
            {
                pairs = [];
                current = null;
                Array.from(objects).forEach((field, index) =>
                {
                    l = response.objects.length;
                    object_clue =
                        response.objects[Math.floor(Math.random() * (l - 0 + 1)) + 0];
                    pairs[index] = { object: object_clue.object, clue: object_clue.clue };
                    field.innerText += object_clue.object;
                });
                current = pairs[0];
                clue_container.innerText = current.clue;

                $(document).ready(() =>
                {
                    // checkWinning()
                    $("#next_clue").click((e) =>
                    {
                        console.log("clicked");
                        current = pairs[Math.floor(Math.random() * (25 - 0 + 1)) + 0];
                        placeNextClue(current.clue);
                    });
                });

                $(document).ready(() =>
                {
                    $(".object").click((e) =>
                    {
                        if (e.target.innerText === current.object)
                        {
                            $(e.target).addClass("correct");
                            $(e.target).css({ pointerEvents: "none" });
                        } else
                        {
                            $(e.target).addClass("pulse");
                        }
                        changeNoneCorrectCursor("none");
                    });
                });
            });

    </script>
</body>

</html>