<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"></script>
</head>

<body>
    <input type="text" id="nickname" placeholder="Nickname">
    <input type="text" id="id" placeholder="Game ID" />
    <button onclick="createGame()">Create</button>
</body>
<script>
    function createGame()
    {
        nickname = document.getElementById('nickname').value
        id = document.getElementById('id').value
        window.location.href = "waiting_room"
    }
</script>

</html>