<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="nickname" placeholder="Nickname">
    <input type="text" id="id" placeholder="Game ID"/>
    <span>choose your own if you are the host</span>
    <button onclick="goToGame()">Start a game</button>
    <button onclick="joinGame()">Join an existing game</button>
</body>
<script>
    function goToGame(){
        nickname = document.getElementById('nickname').value
        id = document.getElementById('id').value
        window.location.href = "waiting_room?id="+id+"&nickname="+nickname
    }
    // function goToGame(){
    //     window.location.href = "wait"
    // }
</script>
</html>