<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" placeholder="Nickname"/>
    <input type="text" placeholder="Game ID"/>
    <button onclick="join()">Join</button>
</body>
<script>
     function join()
        {
            let socket = io.connect('http://127.0.0.1:5000')
            nickname = document.getElementById('nickname').value
            id = document.getElementById('id').value
            window.location.href = "waiting_room"
            socket.emit('join', { game_id: id, name: nickname })

             socket.on('rejected', (data) =>
         {
             players.append('<li>' + data.name + "</>")
         })
        }
    
</script>
</html>