<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="startGame()">Start a game</button>
   <div class="players"></div>
   <div id="id"></div>
</body>
<script>
    const idC = document.getElementById('id')
    let queryString=location.search
    let id = queryString.split('id=')[1].split('&')[0]
    let nickname = queryString.split('nickname=')[1].split('&')[0]
    idC.innerText = id
    
</script>
</html>