<!DOCTYPE html>
<html lang="en">

<head>

    <title>Game Over!</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>


    <center>
        <!--Value is passed via flask's render template-->
    <h1 id="announce">{{value}} has won Bingo!</h1>
    <h3 id ="desc"> 
        This game was made by Alexa Bartlett, Ibrahim Hassouna, Zakir Hossain, and Trisha Razdan.
    </h3>
    <h4 id="desc">
        Mango: An Educational Bingo Game (2022) was created for the group's CS 071: Software Engineering semester project, under the guidance of Professor Michael Wehar.
    </h4>
    </center>
</body>
</html>